body {
    font-family: sans-serif, 'Arial Narrow', Arial, 'Franklin Gothic Medium';
    margin: 1rem;
    background-color: #f1f1f1;
}

header {
    font-weight: bold;
    font-size: larger;
    border: 4px outset;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-inline-start: 8px;
    padding-inline-end: 8px;
    background-color: #f7f7f7;
}

.python {
    text-align: center;
}

#navbar {
    margin: auto;
    padding: auto;
    width: 300px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    cursor: pointer;
}

#navbar a:hover,
#navbar a:focus { background: rgba(255,255,255,0.06); color: gray; outline: none; }

#navbar a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 18px;
    
}

#navbar a.active {
  background-color: #04AA6D;
  color: white;
}

#navbar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

nav ul {
  list-style-type: none;
  margin: 1rem;
  padding: 1rem;
}

#main-doc{
  margin-left: 300px;
  padding: 1rem;
}

code {
  display: block;
  text-align: left;
  white-space: pre-line;
  position: relative;
  word-break: normal;
  word-wrap: normal;
  line-height: 2;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
  margin-left: 3rem;
  margin-right: 3rem;
}

.alink {
    
    padding-left: 1rem;
    color: #555;
    text-decoration: none;
}

a:link {
  color: #555;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: gray;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: green;
  background-color: transparent;
  text-decoration: underline;
}

.ex {
  border-style: solid;
  border-color: #f7f7f7;
  border-radius: 5px;
  border-width: 2px;
  margin-left: 3rem;
  margin-right: 3rem;
}

.tbl {
  margin-left: 3rem;
  margin-right: 3rem;
}

.tbl-in, td {
  background-color: #f7f7f7;
  text-align: left;
  padding: 1rem;
  margin: 1rem;
  border-radius: 5px;
}

.td-title {
  font-weight: bold;
}

.ex h3 {
  padding-inline-start: 1rem;
  padding-inline-end: 1rem;
}

div {
  margin: 5px;
}

p {
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}

h1 {
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}

.circle li{
  list-style-type: circle;
  margin-left: 1rem;
}

h3 {
  padding-inline-start: 2rem;
  padding-inline-end: 2rem;
}
